/***********************GENERAL STYLE*********************/
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

:root {
--light-gray: #eee;
--gray-footer: #1f1f1f;
--gray-footer-btn: #444;
--primary-gray: #98a5a5;
--primary-blue: #509bd7;
--primary-color: #d35649;
--primary-purple: #575a89;

}
ul{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: var(--light-gray);
}

/*************************************************HEADER****************************************************/
header {
    background: var(--primary-color);
}


header a:hover {
    color: var(--primary-gray);
}

header .logo img {
    width:4em;
    height: 4em;
}

header span.logoName {
    font-size: 2em;
    padding-left: 1.5%;
    text-shadow: 1.5px 1.5px var(--primary-purple);
}

nav{
    text-align: right;
    padding-top: 1.4%;
}
nav ul li {
    display: inline;
    padding-left: 1.5em;
}
nav li a i{
    padding-right: 1.2%;
}

/*******************************************************FOOTER*******************************************************/

footer {
    color: var(--light-gray);
}
footer .container-fluid {
    padding:0;
}

footer .row {
    margin:0;
}

footer .footer-top {
    margin: 0;
    padding: 0;
    padding : 4% 4% 1% 4%;
    background-color: black;
}

footer .footer-nav{
    padding: 0 10%;
}

footer .footer-nav a:hover {
    color: var(--primary-gray);
}

footer .footer-nav .col-md {
    padding: 0;
    padding-top: 15px;
}

footer .footer-nav .col-md ul {
    width: 100%;
    height: 3.5em;
    display: flex;
    padding: 3.5% 0;
    text-align: center;
    justify-content: space-around;
    border-top: 1.5px solid var(--light-gray);
    border-bottom: 1.5px solid var(--light-gray);
}

footer  .footer-nav .col-md li{
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
}

footer .footer-nav .icon-location{
    padding: 26px 0;
    height: 85px;
    max-width: 85px;
    border: 2px solid var(--light-gray);
}

footer .icon-location i {
    font-size: 2em;
 }

 .info {
    padding-top: 3.5em;
    text-align: center;
 }

 

.info h2 {
    font-size: 1.4em;
    text-transform: capitalize;
    padding-bottom: 1.2em;
}

.info a {
    color: var(--primary-color);
}

.info a:hover {
    text-decoration: underline;
}

.info p {
    font-size: .9em;
}

.info .subscribe #email {
    padding: 5px;
    background-color: transparent;
    border: 1px solid var(--gray-footer-btn);
}

.info .subscribe input[type="submit"]{
    border: none;
    padding: 8px;
    font-weight: bold;
    border-radius: 3px;
    color: var(--light-gray);
    background: var(--gray-footer-btn);
}

.info .subscribe input[type="submit"]:hover {
    color: var(--primary-gray);
}

footer .footer {
    height: 3.5em;
    background: var(--gray-footer);
}

footer .footer ul {
    padding-top: 15px;
}
footer .footer .social-net li{
    display: inline;
    padding-left: 5%;
}

footer .footer li i:hover {
    color: var(--primary-blue);
}

footer .footer .copyright {
    margin-right: 2%;
    padding-top: 9px;
    font-size: 0.9em;
    text-align: right;
    color: var(--primary-gray);

}

/*media queries for header on small screen*/

@media screen and (max-width: 992px){
    header nav li span{
        display: none;
    }

    header nav ul {
        padding: 5% 0;
    }
    header nav li {
        padding-left: 10%;
    }
    
}

@media screen and (max-width:768px){

    header nav li i {
        font-size: 1.5em;
    }

    header .logo .logoName {
        font-size: 2em;
    }
    
}
@media screen and (max-width: 576px){

    header nav {
        margin: auto 0;
        text-align: center;
    }

    header .logo , header nav {
        margin: auto 0;
        
    }
    header nav li {
        padding-left: 15%;
    }

    header .logo {
        padding-left: 25%;
    }

}

/***********************************************************************************************************************
                        CONTENT STYLES
***********************************************************************************************************************/

/*---------------ABOUT PAGE-----------------*/

/*event schedule*/
main  {
    background-color: #fff;
}

main div.container-fluid{
    margin: 0;
    padding: 0;
}
main .about-event {
    margin-top: 3em;
    margin-left: 1.5%;
    padding-bottom: 25px;;
    box-shadow: -5px -5px 15px var(--primary-gray);
}

.about-event h1 {
    padding: 2%;
    font-size: 2em;
    font-weight: bold;
    word-spacing: 2px;
    text-align: center;
    color: var(--primary-color);
    text-transform: uppercase;
}

.event-desc {
    padding: 0 5%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.event-desc div.col-md p {
    width: 90%;
    margin: auto;
    padding: 20px;
    font-size: 1.2em;
    font-weight: 500;
    border-radius: 3px;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid white;
    box-shadow: 0 0 10px grey;
}

.event-desc div.col-md p span {
    font-weight: 700;
    color: var(--primary-blue);
    text-transform: capitalize;
}

.event-desc div:last-child p:last-child {
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: right;
}

.event-desc div .apply {
    padding: 10px;
    font-weight: 500;
    border-radius: 0;
    font-size: 1.05em;
    text-transform: uppercase;
    box-shadow: 1px 1px 0 blue;
}

.about-event > div:last-child {
    padding: 10px;
    max-width: 90%;
    padding-left: 5%;

} 

.about-event > div:last-child p {
    font-size: 1.2em;
    font-weight: 500;
}
.about-event > div:last-child p i{
    color: var(--primary-blue);
}

.separator {
    height: 5px;
    background: url('../Images/separator.png') repeat-x;
}

main .more-details {
    padding: 2%;
    margin: 50px 0;
    background: rgba(150, 150, 150, 0.1);
}
main .more-details p{
    margin: 0;
    font-size: 1.5em;
    word-spacing: 5px;
    padding-left: 24px;
    letter-spacing: 10px;
    color: var(--gray-footer);
}

/*  MAP  */
.map h2 {
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 20px;
    color: var(--primary-color);
}

.map {
    padding: 0 1%;
}

iframe {
    width: 100%;
    padding-bottom: 2%;
    
}


/*---------------SEARCH PAGE-----------------*/

/* Filter style */

section.filter {
    margin: 30px 0;
    padding: 30px 0;
    background: rgb(190, 190, 190);
    background: rgba(190, 190, 190, 0.2);
}

.filter .title {
    font-size: 1.8em;
    font-weight: 700;
    text-align: center;
    padding-bottom: 20px;
    color: var(--primary-gray);
}

.filter form {
    border: 2px solid black;
    display: flex;
    flex-basis: 20%; 
    flex-wrap: wrap;
    justify-content: space-between;
    padding:;
}

/* .filter form div.form-cont {
    margin: 0;
    padding: 0;
    display: flex;
    
} */

.filter form div.col-md {
    margin: 0;
    padding: 0;
    width: auto;
    border: 1px solid red;
}

.filter form label {
    font-weight: bold;
    padding-bottom: 10px;
}

.filter form input[type="text"] {
    width: 70%;
}

/*****Filter result style**********/
section.result{
    margin-bottom: 60px;
    
}

section.result .title {
    font-size: 1.5em;
    padding: 20px 0;
    color: var(--primary-gray);
}
 section.result .result-image{
    display: flex;
    padding: 10px 15%;
    justify-content: space-around;
 }

 .result .result-image figure {
     width: 30%;
     height: auto;
     background: var(--primary-color);
 }

 .result .result-image figcaption {
     font-size: 1.4em;
     font-weight: 600;
     padding-top: 3px;
     text-align: center;
     color: var(--light-gray);
     text-shadow: 1.5px 1.5px 0 white;
 }

 .result .result-image img {
     width: 100%;
 }